// Specific CSS for your home-page

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
}

@media (max-width: 960px){

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
}
}
